html {
  background-color: #00a8cc;
  background-image: -webkit-linear-gradient(65deg, #142850 30%, #00a8cc 30%);
  min-height: 100vh;
  font-family: 'helvetica neue';
}
.section{
  min-height: 80vh;
}
h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #142850;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #142850;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  text-align: center;
  /*width: 50px;*/
  /*height: 50px;*/
  /*border-radius: 25px;*/
  border-color: transparent;
  /*background-color: #142850;*/
  color: #142850;
  font-size: 2.5rem;
  /*padding-bottom: 6px;*/
  border-width: 0;
}


input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #142850;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color:#00a8cc ;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

  html {
    -webkit-appearance: none;
    max-width: 100%;
    min-height: 100vh;
  }

  .box {
    max-width: 100%;
    -webkit-appearance: none;

  }

  input[type="text"] {
    max-width: 90%;
    -webkit-appearance: none;
  }

  input[type="text"]:focus {
    outline: none;
    box-shadow: none;
  }
}
/*  button{*/
/*    text-align: center;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 20px;*/
/*    font-size: 25px;*/
/*    -webkit-appearance: none;*/
/*  }*/
/*}*/