html {
    display: block;
    background-color: #00a8cc;
    background-image: -webkit-linear-gradient(75deg, #142850 30%, #00a8cc 30%);
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue';
}

body {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.section {
    display: block;
    text-align: center;
    min-height: 85vh;
    width: 100%;
    align-items: center;
}

h1 {
    color: #fff;
    padding: 10px;
}

.box {
    text-align: center;
    display: block;
    margin: 50px auto;
    max-width: 400px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #142850;
    text-align: center;
}

.item {
    text-align: center;
    min-height: 70px;
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    background-color: #f9f9f9;
    border-bottom: 0;
}


input {
    transition: 5s;
}

input:checked + p {
    text-decoration: line-through;
    text-decoration-color: #142850;

}

input[type="checkbox"] {
    margin: 20px;
    width: 20px !important;
    height: 15px !important;
    outline: 2px solid #00a8cc;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    transition: 1s;
}

input[type="checkbox"]:hover {
    outline: 2px solid #00a8cc;
    background-color: #00a8cc;
    opacity: 40%;

}

p {
    font-size: 20px;
    margin-right: 52px;
    font-weight: 200;
    color: #00204a;
    width: 100%;
}


form.item {
    display: block;
    width: 100%;
}

button {
    width: 100%;
    text-align: center;
    display: block;
    border-color: transparent;
    color: #142850;
    font-size: 2.5rem;
    border-width: 0;
    background-color: #dbdbdb;
    opacity: 50%;
    transition: 1s;
    border-top: 1rem;
}


button:hover {
    opacity: 100%;
    border-radius: 1.25rem;
}


input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #142850;
}

::placeholder {
    color: grey;
    opacity: 1;
}

.footer {
    left: 50%;
    margin-bottom: 3%;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #00a8cc;
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {


    input[type="text"]:focus {
        outline: none;
        box-shadow: none;
    }

    form.item {
        display: block;
        width: 100%;
    }

    button {
        display: block;
        width: 100%;
        background-color: #70c7dc;
        border-radius: 1.25rem;
        opacity: 100%;
        -webkit-appearance: none;

    }
    html,input{
        -webkit-appearance: none;
    }
}

/*  button{*/
/*    text-align: center;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 20px;*/
/*    font-size: 25px;*/
/*    -webkit-appearance: none;*/
/*  }*/
/*}*/